<p>Successfully connected to server</p>
<h1>Burgers!</h1>

<h2>Burgers not devoured!</h2>

</ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/ devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured!</h2>burger-block

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
