html {
    background-color: #FFC04C;
}

body {
    width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#burger {
    display: block;
   margin: auto;
}
.formContainer {
        background-color: orange;
}
.burgerAvailable {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: #62f50c;
    border: none;
}   

.burgerEaten {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: #ffd1c9;
}

.addBurgerButton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 25%;
    margin: 0;
    padding: 10px;
    background-color: #FFC04C;
    border: none;
}
   
   .addBurgerButton:active {
       background-color: #FFC04C;
   }